body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #171717;
            font-family: monospace;
        }
        #brain {
            font-size: 20vmin;
            z-index: 2;
            user-select: none;
            transition: transform 0.3s ease;
            filter: hue-rotate(100deg) brightness(1.2);
        }
        #canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        #words {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            pointer-events: none;
        }
        #social {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 15px;
            z-index: 4;
        }
        .social-link {
            text-decoration: none;
            color: #c3c7c8;
            font-size: 14px;
            transition: all 0.3s ease;
            font-family: monospace;

        }
        .social-link:hover {
            transform: scale(1.1);
        }
        #title {
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 24px;
            font-weight: bold;
            z-index: 4;
            color: #c3c7c8;
        }
        .word {
            position: absolute;
            font-weight: bold;
            transform: translate(-50%, -50%);
            padding: 5px 10px;
            border-radius: 5px;
            background: rgba(178, 255, 200, 0.2);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
